.form-title{
    text-align: center;
    color: rgb(177, 200, 241);
}
.form-field input{
    width: 100%;
    border: 3px solid rgb(29, 25, 65);
    border-radius: 5px;
    padding: 5px;
}

.button{
    width: auto;
    text-align: center;
    border-radius: 5px;
    border: 3px solid rgb(29, 25, 65);
    padding: 5px;
    margin: 0 auto;
    display: block;
    background-color: rgb(177, 200, 241);
}

.form-field{
    margin: 1.2rem 1.5rem;
}
input {
    background-color: rgb(147, 148, 182);
    color: aliceblue;

}

input::placeholder {
    /* Most modern browsers support this now. */
    color: rgb(243, 238, 243);
}

.register-form-container{
    margin:0 auto;
    width: 50%;
} 

.pop-up{
    position: static;
    text-align: center;
    color: darkblue;
    padding: 10px;
    font-size: 40px;
      }

body{
    background: url(img/potop.jpg) no-repeat;
    background-size: 100%;
    
}