.form-title{
    text-align: center;
    color: rgb(177, 200, 241);

}
.form-field input{
    width: 100%;
    border: 3px solid rgb(29, 25, 65);
    border-radius: 5px;
    padding: 5px;
    
}

.button{
    width: auto;
    text-align: center;
    border-radius: 5px;
    border: 3px solid rgb(29, 25, 65);
    padding: 5px;
    margin: 1.2rem auto;
    display: block;
    background-color: rgb(177, 200, 241);
}

.form-field{
    margin: 1.2rem 1.5rem;
    position: relative;
    outline: none;

}
input {
    background-color: rgb(147, 148, 182);
    color: aliceblue;

}

input::placeholder {
    /* Most modern browsers support this now. */
    color: rgb(243, 238, 243);
}

.register-form-container{
    margin:0 auto;
    width: 50%;
    z-index: 2;
    position: relative;
    display:block;
} 
.login_form_container{
  margin:0 auto;
  width: 50%;
  z-index: 2;
  position: relative;
  display: none;
}
.reg{
  margin:0 auto;
  width: 50%;
  z-index: 2;
  position: relative;
  display:block;
} 

.pop-up{
    position: static;
    text-align: center;
    /* color: var(--color); */
    color: rgb(243, 238, 243);
    padding: 10px;
    font-size: 40px;
    display: none;
    border: solid rgb(29, 25, 65);
    border-radius: 5px;
    border-width: 3px;
    background-color:rgba(147, 148, 182, 0.5);
    /* width:fit-content; */
      }

body{
    background: url(img/potop.jpg) no-repeat;
    background-size: 100%;  
    overflow: hidden;
    
}

:root{
    --color: rgb(8, 2, 19);
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 4 ; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    border-radius: 5px;
    padding: 5px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: rgb(147, 148, 182);
    color: #edf2fc;
    font-size: x-large;
    text-align: center;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 5px solid rgb(29, 25, 65);
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 5px;
    padding: 5px;
    position:relative;
    z-index: 3;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(205, 228, 255);
    text-decoration: none;
    cursor: pointer;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.button:hover{
    background-color: rgb(85, 65, 122);
    border-radius: 5px;
}


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

#create_div{
  position: absolute;
  width: 100px;
  height: 100px;
  background: url(img/juses.png) no-repeat;
  background-size: 100%;
  z-index: 0;
  animation: bounce 8s linear infinite, moveLeft 12s linear infinite;
}




@keyframes bounce {
  0% {bottom: 100%;}
  25% {
  
    bottom: 0;
    width: 100px;
    height: 100px;
  }
  30% {
    bottom: 0;
    height: 50px;
    width: 110px;
  }
  35% {
    bottom: 0;
    width: 100px;
    height: 100px;
  }
  70% {
    bottom: 100%;
  }
  100% {
    bottom: 100%;
  }
}

@keyframes moveLeft {
  from {left: 0;}
  to   {left: 100%;}
}

@keyframes moveRight {
  from {right: 0;}
  to   {right: 100%;}
}
#box{
  cursor: pointer;
}
#call{
  display: none;
 
}

#eye.active {
      display: block;
}
#eye_slash.active {
  display: none;
}
#eye_slash{
  display: block;
 
}
#eye{
  display: none;
  
}

/* .form-field .eyes .bi-eye-slash-fill{
  position: absolute;
  right: 100 px;
  top:15 px;
}
.form-field .eyes .bi-eye-fill{
  position: absolute;
  right: 120 px;
  top:150 px;
} */

.eyes{
  position: absolute;
  right: 0.8em;
  top:0.5em;
}